@import 'variables/global';
@import 'reset';
@import 'themes/dark';
@import 'themes/light';

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    height: 100%;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}