.button{
    padding: 12px;
    color: var(--inverted-primary-color);
}


.clear{
    border: none;
    background: none;
    outline: none;
}

.border {
    border: 2px solid var(--inverted-primary-color);
    background: none;
    border-radius: 13px;
}