.app.dark {
    --bg-color: #020613;
    --inverted-bg-color: #e2e6f1;

    --primary-color: #fff;
    --secondary-color: rgb(165, 205, 243);

    --inverted-primary-color: rgb(5, 41, 119);
    --inverted-secondary-color: rgb(77, 154, 226);
}