.app.light {
    --bg-color: #e2e6f1;
    --inverted-bg-color: #020613;
    --primary-color: rgb(5 41 119);
    --secondary-color: rgb(77 154 226);
    --inverted-primary-color: #fff;
    --inverted-secondary-color: rgb(165 205 243);
}